avatorbtn {

    .usericon {
        width: 50px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border: 1px solid #fff;
        mergin: 2px;
    }
}
